ion-title,
h1 {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.list-container {
    min-height: 100%;
    background: linear-gradient(178deg, #ffb046 -66%, #f52880 371%) 0 0;
    color: #ffffff;
}

.list-container {
    ion-card {
        border-radius: 15px;
        background: #FAFAFA;
        ion-card-subtitle {
            color: #3880ff;
            font-weight: 500;
        }
    }
    ion-button {
        margin-top: 10px;
        height: 40px;
        width: 75%;
        --border-radius: 20px;
        --background: #ffbd40;
        ion-label {
            font-size: 13px;
            font-weight: 600;
            line-height: 5.23;
            letter-spacing: 1.52px;
        }
    }
}